.panelUsuarios {
    text-align: center;
}

#encabezado-carlos {
    font-family: 'americana-bold';
    font-size: 230%;

}

a {
    color: black;
    text-decoration-line: none;
}

p {
    font-family: 'americana-bold';
    text-align: center;
    font-size: 20px;
    color: black;
}

#fijado {
    background-color: #fafbe800; /* #fafbe8 */
}

@media only screen and (min-width: 768px) {
    #fijado {
        position: sticky;
        top: 0px;
    }
}

#gitimage {
    position: sticky;
    bottom: 0px;
}

#portada {
    width: 950px;
    height: auto;
}

.texto {
    font-family: 'americana-bold';
    color: black;
    font-size: 15px;
    text-align: justify;
}

#remarcado {
    font-weight: bold;
}

#espacio-top {
    margin-top: 10rem;
}

#descuadrada {
    align-items: bottom;
}

.gallery-item {
    margin-bottom: 1vw;
}

#frase {
    font-family: 'americana-bold';
    font-size: 40px;
}