#encabezado-carlos {
    font-family: 'americana-bold';
    font-size: 230%;
}

a {
    color: black;
    text-decoration-line: none;
}

.descripcion {
    font-family: 'americana-bold';
    text-align: justify;
    font-size: 18px;
    color: black;
}

#fijado {
    background-color: #fafbe800; /* #fafbe8 */
}

@media only screen and (min-width: 768px) {
    #fijado {
        position: sticky;
        top: 0px;
    }
}

#gitimage {
    position: sticky;
    bottom: 0px;
}

#frase {
    font-family: 'americana-bold';
    font-size: 45px;
    text-align: center;
}

#programador {
    width: 600px;
    height: auto;
}