.nav-link {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 75%;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(248, 69, 69);
}


.btn-light {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 75%;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 15px;
    border-color: rgba(255, 255, 255, 0);
}

.btn-light:focus {
    box-shadow: 0 0 0 0rem rgb(211 212 213 / 50%);
}

.btn-light:hover {
    color: rgb(248, 69, 69);
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    padding-left: 15px;
}

.dropdown-item {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
}

.dropdown-item:hover {
    color: rgb(248, 69, 69);
    background-color: rgba(255, 255, 255, 0)
}