<p>menu works!</p>
<div class="row justify-content-around">
    <div class="col-md-4" style="background-color: #ff0000;">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABCDESIGN</a>
            </li>
            
        </ul>
    </div>
</div>
