#encabezado-carlos {
    font-family: 'americana-bold';
    font-size: 3vw;

}

a {
    color: black;
    text-decoration-line: none;
}

p {
    font-family: 'americana-bold';
    text-align: center;
    font-size: 20px;
    color: black;
}

#fijado {
    position: sticky;
    top: 0px;
    background-color: #fafbe8;
}

#gitimage {
    position: sticky;
    bottom: 0px;
}

#portada {
    width: 960px;
    height: 480px;
}

.texto {
    font-family: 'americana-bold';
    color: black;
    font-size: 15px;
    text-align: justify;
}

#remarcado {
    font-weight: bold;
    font-family: 'americana-bold';
    color: black;
}

#pantalla {
    width: 850px;
    height: auto;
}

#caja-reducida {
    margin-bottom: -160px;
}

/* img {
    border-radius: 1.2rem!important;
} */

#sitiosugerencias{
    width: 700px;
    height: auto;
}