#encabezado-carlos {
    font-family: 'americana-bold';
    font-size: 70px;
}

a {
    color: black;
    text-decoration-line: none;
}

p {
    font-family: 'americana-bold';
    text-align: justify;
    font-size: 25px;
    color: black;
}

#fijado {
    position: sticky;
    top: 0px;
    background-color: #fafbe8;
}

#gitimage {
    position: sticky;
    bottom: 0px;
}

.perfil {
    font-family: 'americana-bold';
    text-align: center;
    font-size: 20px;
    color: black;
}

.panelUsuarios {
    text-align: center;
}

#frase {
    font-family: 'americana-bold';
    font-size: 40px;
}